
<p-dataTable [value]="books">
  <p-header>Books</p-header>
  <p-column header="Action">
    <template let-book="rowData" pTemplate="body">
      <button type="button" pButton [routerLink]="['/question', book.name, book.id]" label="Questions"></button>
      <button type="button" pButton class="ui-button-info"  [routerLink]="['/question', book.name, book.id]" label="Create Exam"></button>
    </template>
  </p-column>
  <p-column field="id" header="ID"></p-column>
  <p-column field="name" header="Name"></p-column>
  <p-column field="created_at_display" header="Created"></p-column>
  <p-column field="updated_at_display" header="Updated"></p-column>
</p-dataTable>
