
<p-dataTable [value]="questions">
  <p-header>Questions</p-header>
  <p-column field="id" header="ID"></p-column>
  <p-column field="type" header="Type"></p-column>
  <p-column field="text" header="Text"></p-column>
  <p-column field="category" header="Category"></p-column>
  <p-column field="difficulty.name" header="Difficulty"></p-column>
  <p-column field="LO" header="LO"></p-column>
  <p-column field="LO #" header="LO #"></p-column>
  <p-column field="Answer Exp" header="Answer Exp"></p-column>
  <p-column field="image" header="Image"></p-column>
  <p-column field="created_at" header="Created"></p-column>
  <p-column field="updated_at" header="Updated"></p-column>
</p-dataTable>
