
<p-dataTable [value]="questions" selectionMode="single" [(selection)]="questionSelection" (onRowSelect)="onRowSelect($event)" [rows]="30" [paginator]="true" #dt>

  <p-header>
    <strong>{{ book.name }}</strong>
  </p-header>

  <p-column field="id" header="ID" [filter]="true" filterPlaceholder="Search"></p-column>

  <p-column field="type" header="Type" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
    <template pTemplate="filter" let-col>
      <p-dropdown [options]="questionType" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </template>
  </p-column>

  <p-column field="category" header="Category" [filter]="true" filterPlaceholder="Search"></p-column>

  <p-column field="difficulty.name" header="Difficulty" [style]="{'overflow':'visible'}">
    <template pTemplate="filter" let-col>
      <p-dropdown [options]="questionDifficulty" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </template>
  </p-column>

  <p-column field="lo_number" header="LO #" [filter]="true" filterPlaceholder="Search"></p-column>

  <p-column field="choice_len" header="Choice Len" [sortable]="true"></p-column>

  <p-column field="question_len" header="Question Len" [sortable]="true"></p-column>

  <p-column field="read_load" header="Read Load" [sortable]="true">
    <template>
      {{ question.read_load }}%
    </template>
  </p-column>

  <p-column header="Created">
    <template let-book="rowData" pTemplate="body">
      {{book.created_at | date:"MM/dd/yyyy"}}
    </template>
  </p-column>

</p-dataTable>


<!-- Question Detail Dialog -->
<p-dialog [(visible)]="displayDetail" modal="modal" resizable="true" dismissableMask="true" width="500" responsive="true">
  <p-header>
    Question ID: <strong>{{questionSelection ? questionSelection.id : ''}}</strong>
  </p-header>
  <div class="question_detail">
    <div class="title italic">
      Question:
    </div>
    <div class="detail">
      {{questionSelection ? questionSelection.text : ''}}
    </div>
  </div>

  <div *ngIf="questionSelection != null && questionSelection.learning_outcome != ''" class="question_detail">
    <div class="title italic">
      Learning Outcome:
    </div>
    <div class="detail">
      {{questionSelection ? questionSelection.learning_outcome : ''}}
    </div>
  </div>

  <div *ngIf="questionSelection != null && questionSelection.options != null" class="question_detail">
    <div class="title">
      Options:
    </div>

    <div>
      <div class="detail options" *ngFor="let option of questionSelection.options; let i = index">
        <span class="italic">{{i+1}})</span> {{option.text}} <span class="point">{{option.point}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="questionSelection != null && questionSelection.short_answer != ''" class="question_detail">
    <div class="title">
      Answer:
    </div>

      <div class="detail options">
        {{ questionSelection.short_answer}}
      </div>
  </div>

  <div class="selectionButton" *ngIf="isExamQuestionSelection">
    <button pButton type="button" (click)="onAddingQuestion()" class="ui-button-success" icon="fa-check" label="Add"></button>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      {{ book.name }}
    </div>

  </p-footer>
</p-dialog>

<!-- Message -->
<p-growl [value]="message" life="5000"></p-growl>
